{% extends "management/base.html" %}

{% block content %}
<h2 class="heading">Reservation History</h2>
<div class="reservations">
    {% for reservation in reservations %}
        <div class="reservation">
            <p>Table ID: {{ reservation.table_id }}</p>
            <p>Date: {{ reservation.date }}</p>
            <p>Time: {{ reservation.time }}</p>
            <p>Guest Count: {{ reservation.guest_count }}</p>
            <p>Status: {{ reservation.booking_status }}</p>
            <p><a href="{% url 'reservation_detail' reservation.id %}">View Details</a></p>        
        </div>
    {% endfor %}
</div>
<!-- Add this CSS to your static CSS file or within <style> tags -->
<style>
body {
    padding: 20px;
}

.heading {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;  /* Make the font size larger */
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;  /* Set the text color */
}

.reservations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.reservation {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation p {
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}
</style>
{% endblock %}
