{% extends "management/base.html" %}

{% block content %}
<h2 class="heading">Reservation History</h2>
<div class="reservations">
    <table>
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Guest Count</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.time }}</td>
                <td>{{ reservation.guest_count }}</td>
                <td>{{ reservation.booking_status }}</td>
                <td>
                    <a href="{% url 'reservation_detail' reservation.id %}">View Details</a>
                
                    {% if reservation.can_cancel %}
                        <form action="{% url 'delete_reservation' reservation.id %}" method="post" style="display:inline;" onsubmit="return confirmDeletion()">
                            {% csrf_token %}
                            <button type="submit" class="btn-delete">Cancel</button>
                        </form>
                    {% else %}
                        <p style="color: gray; font-style: italic;"></p>
                    {% endif %}
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Add this CSS to your static CSS file or within <style> tags -->
<style>
body {
    padding: 20px;
}

.heading {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;  /* Make the font size larger */
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333;  /* Set the text color */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btn-delete {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #cc0000;
}
</style>

<script>
function confirmDeletion() {
  return confirm("Are you sure you want to cancel this reservation?");
}
</script>

{% endblock %}
