<!-- custom_admin/templates/custom_admin/admin_change_password.html -->

{% extends 'admin_panel/admin_base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2>Change Password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Change Password</button>
</form>

<style>
form {
    max-width: 400px;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3498db;
}
</style>

{% endblock %}
