{% extends 'admin_panel/admin_base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Notifications</title>
</head>
<body>
    <h1>Notifications</h1>
    <table>
        <tr>
            <th scope="col">S.No</th>
            <th>Customer</th>
            <th>Message</th>
            <th>Date & Time</th>
        </tr>
        {% for notification in notifications %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ notification.customer.user.username }}</td>
            <td>{{ notification.message }}</td>
            <td>{{ notification.date_time }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}
